<h1> PRODUCTS </h1>
	<% @products.each do |product| %>
	<div class="product">
		<h2><%= product.name %></h2>
		<ul>
			<li><%= product.description %></li>
			<li>$<%= sprintf "%.2f", (product.price_in_cents * 0.01).round(2) %></li>
		</ul>
	</div>
<%end%>

<%= link_to "Add a Product", new_product_path %>
